<h3>@CurrentTask.Label</h3>

<div style="border : dashed 2px chartreuse">
    <p>Date : @CurrentTask.Date</p>
    <p>Durée : @CurrentTask.Duration</p>
    <p>ID : @CurrentTask.Id</p>
    <p>Is Finished : @CurrentTask.IsFinished</p>
</div>
@code {

}
